main{
    section{
        div{
            .titulo-less{
                color: #fa15ae;
                font-family: 'Nunito', sans-serif;
                font-size: 50px;
                font-weight: 600;
                text-align: center;
                text-decoration: underline;

            }
        }

        .encaje{
            margin: 25px;

            .tipo-less{
                color: #fa15ae;
                font-family: 'Nunito', sans-serif;
                font-size: 35px;
                font-weight: 600;
                text-align: left;
                text-decoration: underline;

            }

            .flex-less{
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                div{
                    img{
                        width: 30vw;
                    }

                    p{
                        text-align: center;
                        color: #000000;
                        font-family: 'Nunito', sans-serif;
                        font-size: 25px;
                        font-weight: bold;
                    }

                }

            }
        }

        .algodon{
            margin: 25px;

            .tipo-less{
                color: #fa15ae;
                font-family: 'Nunito', sans-serif;
                font-size: 35px;
                font-weight: 600;
                text-align: left;
                text-decoration: underline;

            }

            .flex-less{
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                div{
                    img{
                        width: 30vw;
                    }

                    p{
                        text-align: center;
                        text-decoration: underline;
                        font-family: 'Nunito', sans-serif;
                        color: #fa15ae;
                        font-size: 25px;
                        font-weight: bold;
                    }

                }

                

            }
        }
    }
}