main{
    section{
            .flex-fotos{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                background-color: white;

                img{
                    width: 30vw;
                }

            }
    }

       
}